/Surabhi-GeekHunter/GeekHunter/.vs
/Surabhi-GeekHunter/GeekHunter/GeekHunter/obj/
/Surabhi-GeekHunter/GeekHunter/GeekHunter/bin/
/Surabhi-GeekHunter/GeekHunter/GeekHunterTest/bin
/Surabhi-GeekHunter/GeekHunter/GeekHunterTest/obj/
/.vs/
